<h2 mat-dialog-title>Kiosk Form</h2>
<mat-dialog-content>
    <div class="form-content" >
        <div>
            <mat-form-field adivpearance="outline">
                <mat-label>Name</mat-label>
                <input matInput placeholder="Name" [(ngModel)]="data.name">
            </mat-form-field>
        </div>
        <div>
            <mat-form-field appearance="outline" style="width: 100%;">
                <mat-label>Info</mat-label>
                <textarea  style=" height:100px" matInput placeholder="Info" [(ngModel)]="data.info" st></textarea> 
            </mat-form-field>
        </div>
    </div>
</mat-dialog-content>
<mat-dialog-actions>
    <button class="close-button mat-raised-button" (click)="close()" mat-dialog-close>Close</button>
    <button mat-raised-button color="primary" class="save-button" (click)="save(data)">
        <mat-icon style="font-size: 20px">save</mat-icon>Save
    </button>
</mat-dialog-actions>