.mat-column-select {
    overflow: initial;
  }

h2{
  font-family: Roboto,"Helvetica Neue",sans-serif;
  height: 100%;
}

.content-title{
  display: flex
}


/* form styles */
.add-button{
  height: 100%;
  margin: 15px 0 0 17px;
  padding-left:10px;
}

.back-button{
  height: 100%;
  margin: 15px 0 0 0;
  width:40px
}

.form-content{
  margin: 10px
}

.form-content p{
  align-content: center;
  width:100%
}

input{
  min-width:100px;
  width:auto;
}

.save-button, .close-button {
  margin: 10px 25 25px 0px;
  padding-left: 10px;
}

.save-button{
  margin-left: auto !important
}