<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true" [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="!(isHandset$ | async)">
    <mat-toolbar color="primary">Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item [routerLink]="['./user-profiles/']">User Profile</a>
      <a mat-list-item [routerLink]="['./kiosk']">Kiosk</a>
      <a mat-list-item [routerLink]="['./event-per-kiosk']">Event Per Kiosk</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()" *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Kiosk Admin</span>
      <span class="gap"></span>
      <button type="button" mat-icon-button [routerLink]="['./']" (click)="logout()">
        <mat-icon aria-label="Logout" >exit_to_app</mat-icon>
      </button>
    </mat-toolbar>
    <div *ngIf="_router.url !== '/'"> 

      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>