<div class="admin-panel-content">
  <div class="content-title">
    <h2>Event Per Kiosk Table</h2>
    <button mat-raised-button class="add-button" (click)="openDialog('add')">
      <mat-icon style="font-size: 20px">add</mat-icon>Add
    </button>
  </div>

  <div class="mat-elevation-z8">
    <mat-table #table [dataSource]="dataSource" matSort aria-label="Elements">

      <!-- Id Column -->
      <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef>Id</mat-header-cell>
        <mat-cell *matCellDef="let row">{{row.id}}</mat-cell>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="title">
        <mat-header-cell *matHeaderCellDef>Title</mat-header-cell>
        <mat-cell *matCellDef="let row">{{row.title}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="description">
        <mat-header-cell *matHeaderCellDef>Description</mat-header-cell>
        <mat-cell *matCellDef="let row">{{row.description}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="action" style="text-align: center">
        <mat-header-cell *matHeaderCellDef>
          <div>Action</div>
        </mat-header-cell>
        <mat-cell *matCellDef="let row">
          <div class="flex-content">
            <button mat-button matTooltip="Edit" aria-label="edit" color="primary" matTooltipPosition='above' (click)="openDialog('edit', row)">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-button color="warn" matTooltipPosition="above" matTooltip="Delete" (click)='delete(row.id)'>
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>

    <!--The code below is the set up for pagination  -->
    <!-- 
    <mat-paginator #paginator [length]="dataSource.data.length" [pageIndex]="0" [pageSize]="10" [pageSizeOptions]="[10, 20]">
    </mat-paginator> -->
  </div>
</div>